# Command to run postgres db on docker
/lab01/postgres_on_docker.txt

# Postgres local volume on host
/lab01/ny_taxi_postgres_data

/lab02/dags/*
/lab02/plugins/*
/lab02/logs/*

# local csv files
/lab01/*.csv

*.csv

*.env